﻿@inherits LayoutComponentBase

<NavMenu IsOpened="@IsOpened" OnClick="@OnClick"/>

<div class="all-elements">
    <ul class="menu @(IsOpened ? "" : "hideMenu")">
        <li>
            <div class="menu-icon">
                <i class="fas fa-home"></i>
            </div>
            <span class="menu-line @none"></span>
            <div class="menu-text @none">
                Home
            </div>
        </li>
        <li>
            <div class="menu-icon">
                <i class="fas fa-home"></i>
            </div>
            <span class="menu-line @none"></span>
            <div class="menu-text @none">
                Home
            </div>
        </li>
    </ul>
    @Body
</div>

@functions{ 

    string none => IsOpened ? "" : "none";

    public bool IsOpened = false;

    public void OnClick() {
        IsOpened = !IsOpened;
        StateHasChanged();
    }
}