<nav class="navbar">
    <div class="left-blocks">
        <button class="sidebar-toggle" @onclick="OnClick">
            <i class="fas @(IsOpened ? "fa-long-arrow-alt-left" : "fa-long-arrow-alt-right")"></i>
        </button>
        <div class="navbar-title"><span style="color: #DB6574">Demo</span></div>
    </div>
    <div class="right-blocks">
        <div class="lang">
            <a href="#" class="select-lang">
                <img src="img/GB.png" alt="" style="margin-right: 3px;">
                <span>English</span>
            </a>
            <div class="hide-lang" style="display: none">
                <a href="#">French</a>
                <a href="#">German</a>
            </div>
        </div>
        <a href="" class="logout">Logout</a>
    </div>
</nav>

@functions{
    [Parameter]
    public bool IsOpened { get; set; }

    [Parameter]
    public Action OnClick { get; set; }
}