﻿@page "/"
@namespace AutoSeat.UI.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AutoSeat.UI.Server</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="fonts/fontawesome-free-5.10.0-web/css/all.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<app>@(await Html.RenderComponentAsync<App>())</app>

<script src="_framework/blazor.server.js"></script>
</body>
</html>
