@font-face {
    font-family: "Muli-Bold";
    src: url("/fonts/Muli-Bold.ttf");
}

@font-face {
    font-family: "Muli-Regular";
    src: url('/fonts/Muli-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Muli-Regular', sans-serif;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: transparent;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1b2026;
}

.navbar {
    height: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #282c32;
    color: #8a8d93;
}

.navbar-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-variant: small-caps;
    font-size: 1.5rem;
    font-family: Muli-Bold sans-serif;
}

.select-lang {
    display: flex;
    align-items: center;
    color: inherit;
}

.right-blocks {
    display: flex;
    align-items: center;
    color:  inherit;
}

.logout {
    color: inherit;
    margin-left: 25px;
}

.all-elements {
    display: flex;
    color: #6a6c71;
    font-size: 16pt;
}

.menu {
    height: 91.6vh;
    transition: 0.2s;
    min-width: 280px;
    max-width: 280px;
    background-color: #282c32;
    border-right: 2px solid #2f343b;
}

.menu li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.menu li:hover i {
    transition: 0.2s;
    color: #DB6574;
}

.menu li:hover {
    margin-right: -2px;
    transition: 0.2s;
    background-color: #2f343b;
    border-right: 2px solid #f96575;
}

.menu li:hover .menu-text {
    transition: 0.2s;
    color: #c0c2c5;
}

.menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.menu-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.menu-line {
    border-right: 1px solid #434448;
    height: 30px;
}

.all-blocks {
    width: 100%;
    padding: 20px 20px;
}

.all-blocks-header-body {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.block-header {
    height: 75px;
    background-color: #282c32;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.block-header:hover {
    transition: 0.2s;
    background-color: #2f343b;
}

.left {
    min-width: 55%;
}

.right {
    min-width: 40%;
    margin-left: 5%;
}

.block-body {
    background-color: #282c32;
}

.block-body-content {
    width: 95%;
    margin-left: 2.5%;
}

.settings-elem {
    display: flex;
    align-items: center;
    margin: 25px 0 25px 0;
}

.settings-elem select {
    background-color: transparent;
    padding: 2px 25px 2px 25px;
    border: 1px solid #404750;
    color: #8a8e95;
}

input[type="checkbox"] {
    display: none;
}

input[type='checkbox']:checked + label {
    border: 1px solid #00a93a;
}

.settings-elem-input {
    background-color: transparent;
    width: 51px;
    text-align: center;
    border: 1px solid #404750;
    color: #8a8e95;
}

.settings-elem-text {
    margin: 0 20px 0 20px;
}

.block-body-content-header {
    font-family: 'Muli-Bold', sans-serif;
    margin: 20px 0 20px 0;
    display: flex;
}

.settings-elem label {
    margin-right: 20px;
}

.settings-elem input {
    padding: 3px 0 3px 0;
    font-size: 15px;
}

.certain {
    display: flex;
    max-width: 85%;
    min-width: 50%;
    flex-wrap: wrap;
}

.certain-elem {
    display: flex;
    margin: 0 25px 25px 0;
}

#checkbox[type='checkbox'] + label {
    border: 2px solid #00a93a;
}

.block-body-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-variant: small-caps;
    font-size: 25pt;
    color: inherit;
    width: 90%;
    height: 75px;
    background-color: #2f343b;
    margin-bottom: 20px;
    cursor: pointer;
}

.block-body-link:hover {
    transition: 0.2s;
    background-color: #444d55;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar-toggle {
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 50%;
    background: #282b2f;
    color: #8a8d93;
    font-size: 15px;
    border: 2px solid #3d4148;
    outline: none;
    cursor: pointer;
}

.sidebar-toggle:hover {
    transition: 0.2s;
    background-color: #2f343b;
}

.left-blocks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-blocks button{
    margin-right: 20px;
}

.hideMenu {
    min-width: 75px;
    max-width: 75px;
}

.none {
    display: none;
}

.hide-lang {
    display: flex;
    flex-direction: column;
    color: inherit;
    position: absolute;
    top: 8vh;
    right: 5%;
    background-color: #2d3035;
    border: 1px solid #393c43;
}

.hide-lang a {
    color: #8a8d93;
    padding: 1rem 3rem 1rem 3rem;
    border-bottom: 1px solid #393c43;
}

.size {
    align-self: baseline;
    justify-content: center;
}

.size h2 {
    margin-left: 20px;
}

@media screen and (max-height: 850px) {
    .menu {
        height: auto;
    }
}

@media (max-width: 999px) {
    .size {
        width: 100%;
    }
    .fast_setting{
        display: none;
    }
    .all-blocks-header-body {
        flex-direction: column;
        margin-top: 0;
    }

    .right {
        margin: 0;
    }

    .block-header {
        margin-bottom: 25px;
        color: #DB6574
    }

    .menu {
        transition: 0.2s;
        min-width: 75px;
        max-width: 75px;
        height: auto;
    }

    .menu-line {
        display: none;
    }

    .menu-text {
        display: none;
    }

    .hideMenu {
        transition: 0.2s;
        min-width: 0;
        max-width: 0;
    }

    .hideMenu .menu-icon {
        transition: 0.2s;
        display: none;
    }
}