


/*======================
Check Boxes Styles
========================*/
input[type='checkbox'] {
  opacity: 0;
  z-index: -1; }

input[type='checkbox'] + label {
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-indent: -999px;
  overflow: hidden;
  border: 1px solid #fff;
  cursor: pointer; 
}

/*-------------------
  #checkbox-n style
  ------------------*/
input[type='checkbox'] + label {
  width: 20px;
  height: 20px;
  border: 1px solid #404750;
  background: transparent;
}

input[type='checkbox'] + label:before {
  content: '';
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  margin: auto;
  background-color: #00a93a;
  transform: scale(0);
  -webkit-transform: scale(0);
  transition: all 0.4s cubic-bezier(1, 0, 0.4, 0.5);
  -webkit-transition: all 0.4s cubic-bezier(1, 0, 0.4, 0.5); }

input[type='checkbox']:checked + label:before {
  transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);
  -webkit-transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);
  transform: scale(1);
  -webkit-transform: scale(1);
}

/*-------------------
  #checkbox-r style
  ------------------*/
#checkbox-r[type='checkbox'] + label {
  width: 20px;
  height: 20px;
  border: 2px solid red;
  background: transparent;
}

#checkbox-r[type='checkbox'] + label:before {
  content: '';
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  margin: auto;
  background-color: red;
  transform: scale(0);
  -webkit-transform: scale(0);
  transition: all 0.4s cubic-bezier(1, 0, 0.4, 0.5);
  -webkit-transition: all 0.4s cubic-bezier(1, 0, 0.4, 0.5); }

#checkbox-r[type='checkbox']:checked + label:before {
  transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);
  -webkit-transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);
  transform: scale(1);
  -webkit-transform: scale(1);
}


/*-------------------
  #checkbox-blue style
  ------------------*/
#checkbox-blue[type='checkbox'] + label {
  width: 20px;
  height: 20px;
  border: 2px solid #0066bc;
  background: transparent;
}

#checkbox-blue[type='checkbox'] + label:before {
  content: '';
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  margin: auto;
  background-color: #0066bc;
  transform: scale(0);
  -webkit-transform: scale(0);
  transition: all 0.4s cubic-bezier(1, 0, 0.4, 0.5);
  -webkit-transition: all 0.4s cubic-bezier(1, 0, 0.4, 0.5); }

#checkbox-blue[type='checkbox']:checked + label:before {
  transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);
  -webkit-transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);
  transform: scale(1);
  -webkit-transform: scale(1);
}

/*-------------------
  #checkbox-o style
  ------------------*/
#checkbox-o[type='checkbox'] + label {
  width: 20px;
  height: 20px;
  border: 2px solid #ff4c00;
  background: transparent;
}

#checkbox-o[type='checkbox'] + label:before {
  content: '';
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  margin: auto;
  background-color: #ff4c00;
  transform: scale(0);
  -webkit-transform: scale(0);
  transition: all 0.4s cubic-bezier(1, 0, 0.4, 0.5);
  -webkit-transition: all 0.4s cubic-bezier(1, 0, 0.4, 0.5); }

#checkbox-o[type='checkbox']:checked + label:before {
  transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);
  -webkit-transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);
  transform: scale(1);
  -webkit-transform: scale(1);
}

/*-------------------
  #checkbox-dg style
  ------------------*/
#checkbox-dg[type='checkbox'] + label {
  width: 20px;
  height: 20px;
  border: 2px solid #00a100;
  background: transparent;
}

#checkbox-dg[type='checkbox'] + label:before {
  content: '';
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  margin: auto;
  background-color: #00a100;
  transform: scale(0);
  -webkit-transform: scale(0);
  transition: all 0.4s cubic-bezier(1, 0, 0.4, 0.5);
  -webkit-transition: all 0.4s cubic-bezier(1, 0, 0.4, 0.5); }

#checkbox-dg[type='checkbox']:checked + label:before {
  transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);
  -webkit-transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);
  transform: scale(1);
  -webkit-transform: scale(1);
}


/*-------------------
  #checkbox-p style
  ------------------*/
#checkbox-p[type='checkbox'] + label {
  width: 20px;
  height: 20px;
  border: 2px solid #dc00c7;
  background: transparent;
}

#checkbox-p[type='checkbox'] + label:before {
  content: '';
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  margin: auto;
  background-color: #dc00c7;
  transform: scale(0);
  -webkit-transform: scale(0);
  transition: all 0.4s cubic-bezier(1, 0, 0.4, 0.5);
  -webkit-transition: all 0.4s cubic-bezier(1, 0, 0.4, 0.5); }

#checkbox-p[type='checkbox']:checked + label:before {
  transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);
  -webkit-transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);
  transform: scale(1);
  -webkit-transform: scale(1);
}


/*-------------------
  #checkbox-y style
  ------------------*/
#checkbox-y[type='checkbox'] + label {
  width: 20px;
  height: 20px;
  border: 2px solid #ffbb00;
  background: transparent;
}

#checkbox-y[type='checkbox'] + label:before {
  content: '';
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  margin: auto;
  background-color: #ffbb00;
  transform: scale(0);
  -webkit-transform: scale(0);
  transition: all 0.4s cubic-bezier(1, 0, 0.4, 0.5);
  -webkit-transition: all 0.4s cubic-bezier(1, 0, 0.4, 0.5); }

#checkbox-y[type='checkbox']:checked + label:before {
  transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);
  -webkit-transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);
  transform: scale(1);
  -webkit-transform: scale(1);
}

/*-------------------
  #checkbox-ss style
  ------------------*/
#checkbox-ss[type='checkbox'] + label {
  width: 20px;
  height: 20px;
  border: 2px solid #00b69b;
  background: transparent;
}

#checkbox-ss[type='checkbox'] + label:before {
  content: '';
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  margin: auto;
  background-color: #00b69b;
  transform: scale(0);
  -webkit-transform: scale(0);
  transition: all 0.4s cubic-bezier(1, 0, 0.4, 0.5);
  -webkit-transition: all 0.4s cubic-bezier(1, 0, 0.4, 0.5); }

#checkbox-ss[type='checkbox']:checked + label:before {
  transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);
  -webkit-transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);
  transform: scale(1);
  -webkit-transform: scale(1);
}